*{
    text-align: center;
    box-sizing: border-box;
}
.wrapper{
    width: 65%;
    margin: 0 auto;
    border: 1px;
    border-style: solid;
}
.menuWrapper{
    width: 600px;
    margin: 0 auto;
    border: 1px;
    border-style: solid;
}
.menuButton{
    width: 100%;
}
.menu{
    margin: 0 !important;
}
section{
    border: 1px;
    border-style: solid;
    margin: 5px;
}
table{
    width: 100%;
    margin: 15px auto;
    border: 3px;
    border-style: solid;
}
td{
    border: 1px;
    border-style: solid;
}
#cabecera-factura{
    border-radius: 3px;
    font-size: 20px;
    margin: 10px auto;
    width: 160px;
    background-color: #8B4B9B;
    color: white;
    font-weight: bold;
}
/*div{
    margin: 10px;
}*/
#thla{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.round-image{
    border-radius: 20px;
}

.event-top-img{
    width:60%;
}

button:focus { 
    outline: none !important; 
}

button:active:focus{
    outline: none !important; 
}

.event-clickable-area{
    width: 100%;
    height: 100%;
}

.event-image{
    background-color:gray !important;
    background-position: 0px 25px!important;
    background-size: cover !important;
    border:solid 2px black;
    width: 300px !important;
    height: 200px;
    border-radius: 25px;
    margin: 10px;
    margin-top: 10px;
}

.shadow-header{
    text-shadow: black 4px 3px 10px;
}

.event-title{
    text-shadow: -0.5px 0 #acacac, 0 1px #acacac, 1px 0 #acacac, 0 -1px #acacac;
}


