
/*------drop down-------*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-top: 0.1rem;
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  /*--------------------------------------------------*/

  #cart-button{
    text-align:right;
    width: 125px;
  }

  .icon-button{
  position:absolute;
  top:9px;
  font-size:20px;
  z-index:90;
  }

  #ex4 .p1[data-count]:after{
    position:absolute;
    top:8%;
    right:167px;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 1em;
    z-index:99;
  }
  
  body {
    padding-top: 50px;
  }
  
  #navbar {
    height: 50px;
    width: 100%;
    z-index: 99;
  }
  
  #navbar-home {
    width: 300px;
    height: 50px;
    float: left;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .top-bar-left {
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
  
  .top-bar-right {
    margin-right: 2rem;
  }
  
  .topbar-responsive {
    padding: 0.3rem 1.5rem;
  }
  
  .topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
  }
  
  .topbar-responsive .menu li:last-of-type {
    margin-right: 0;
  }
  
  .topbar-responsive .menu a {
    color: #fefefe;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  /*font border color*/
    transition: color 0.15s ease-in;
  }
  
  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }
  
  .topbar-responsive .menu .a-dropdown{
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    min-width: 200px;
  }
  
  .topbar-responsive .menu .a-dropdown:hover{
    color: black !important;
    text-shadow: none !important;
    font-weight: bold;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }
  
  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, inset -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-color: #fefefe;
    border-radius: 5000px !important;
    transition: color 0.15s ease-in, border-color 0.15s ease-in !important;
    opacity: 1 !important;
  }
  
  .event-button {
    box-shadow: none !important;
    border: none !important;
  }
  
  .dropdown-category-button {
    line-height: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
  
  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8 !important;
    border-color: #c6d1d8 !important;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
  
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
  
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
      animation: fadeIn 1s ease-in;
    }
  }