*{
    text-align: center;
    box-sizing: border-box;
}
.wrapper{
    width: 65%;
    margin: 0 auto;
    border: 1px;
    border-style: solid;
}
.menuWrapper{
    width: 600px;
    margin: 0 auto;
    border: 1px;
    border-style: solid;
}
.menuButton{
    width: 100%;
}
.menu{
    margin: 0 !important;
}
section{
    border: 1px;
    border-style: solid;
    margin: 5px;
}
table{
    width: 100%;
    margin: 15px auto;
    border: 3px;
    border-style: solid;
}
td{
    border: 1px;
    border-style: solid;
}
#cabecera-factura{
    border-radius: 3px;
    font-size: 20px;
    margin: 10px auto;
    width: 160px;
    background-color: #8B4B9B;
    color: white;
    font-weight: bold;
}
/*div{
    margin: 10px;
}*/
#thla{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}